body {
    font-family: 'IBM Plex Sans', sans-serif;
  }
a:link {
    color: rgb(255, 100, 100);
    background-color: transparent;
    text-decoration: underline;
  }
  a:visited {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  a:hover {
    color: rgb(255, 100, 100);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: rgb(255, 100, 100);
    background-color: transparent;
    text-decoration: underline;
  }
